.root {
    -fx-background-color: linear-gradient(to bottom, #1a1a1a, #333);
}
.vbox{
    -fx-alignment: center;
}
.button {
    -fx-pref-width: 150;
    -fx-pref-height: 45;
    -fx-font-size: 16px;
    -fx-background-color: #14e33a;
    -fx-text-fill: #f5f5f5;
    -fx-background-radius: 8;
    -fx-padding: 10 20 10 20;

}

.button:hover {
    -fx-background-color: #0b8a22;
}
.label {
    -fx-text-fill: #f5f5f5;
    -fx-font-size: 16px;
}



